{% extends "base.html" %}
{% block title %}UserList{% endblock %}
{% block content %}

<a href="{{ url_for('index') }}">Index Page</a>
<ul>

{#}    <h1>先頭の人は{{ users|first }}</h1>
    <h2>{{ users|sort|first }}</h2>
    <h3>{{ users|random }}</h3>
    {%  for user in users|reverse %}#}
    {%  for user in users %}
    {#    <li>{{ user|reverse_name}}</li>#}
          <li>{{ user.name }} {{user.age  }} born at {{ user.age | born_year }}</li>
    {% endfor %}
    </ul>
    {% if is_login %}
    <p>ログイン済みです</p>
    {% else %}
    <p>ログインしてません</p>
    {% endif %}
    {% if 'taro' in users %}
    <p>taroは存在します</p>
    {% endif %}

{% endblock %}